.lista-posts {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  justify-items: flex-start;
  gap: 4rem 2rem;
  justify-items: center;
}

.post-card {
  cursor: pointer;
  .post-thumb {
    border-radius: 6px;
    max-width: 26rem;
  }
  .post-card-titulo {
    color: $cor-preto;
  }
}
